################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/bin
/WebApplication/obj
/WebApplication/.vs/WebApplication
/WebApplication2/.vs
/WebApplication2/WebApplication2/bin
/WebApplication2/WebApplication2/obj
\WebApplication2\WebApplication2\wwwroot\images\Categories
/WebApplication2/WebApplication2/wwwroot/images/Categories
/WebApplication2/WebApplication2/wwwroot/images/product
