################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/bin/Debug/netcoreapp3.1
/WebApplication/obj
