@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
        <h1 class="display-4">ברוכים הבאים</h1>
    </center>
    <img src="/images/images.jpg" width="668" height="368" alt="דף הבית" />
</div>
