@model WebApplication2.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>עריכה</h1>

<h4>משתמש</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group action-buttons">
                <input type="submit" value="שמור" class="btn btn-primary save" />
                <div>
                    <a class="btn btn-secondary" asp-action="Index">ביטול</a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .action-buttons {
        display: flex;
    }
    .save {
        margin-left: 10px;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
