@model WebApplication2.Models.productImage

@{
	ViewData["Title"] = "הוספת תמונה";
}

<h1>הוספת תמונה</h1>

@*<h4>productImage</h4>*@
<hr />
<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="img" class="control-label"></label>
				<div class="custom-file">
					<input asp-for="img" class="custom-file-input" id="customFile">
					<label class="custom-file-label" for="customFile">Choose file</label>
				</div>
				<span asp-validation-for="img" class="text-danger"></span>
			</div>

			<select class="form-control" asp-for="_ProductId" asp-items="ViewBag.Products"></select>
			<div class="form-group">
				<input type="submit" value="הוסף" class="btn btn-primary mt-3" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-controller="Products" asp-action="Index">חזרה לרשימת מוצרים</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
