@model WebApplication2.Models.Order

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>מחיקה</h1>

<h3>האם אתה בטוח שברצונך למחוק את ההזמנה הזאת?</h3>
<div>
    <hr />
    <div class="order">
        <div class="order-detailes">
            <div>
                <span class="description">@Html.DisplayNameFor(model => model.Total)</span>:
                <span>@Html.DisplayFor(model => model.Total)</span>
            </div>
            <div>
                <span class="description">@Html.DisplayNameFor(model => model.Status)</span>:
                @switch (Model.Status)
                {
                    case OrderStatuses.OPEN:
                        <span>פתוח</span>
                        break;
                    case OrderStatuses.WAITING:
                        <span>ממתין לטיפול</span>
                        break;
                    case OrderStatuses.IN_PROCESS:
                        <span>בטיפול</span>
                        break;
                    case OrderStatuses.CLOSE:
                        <span>סגור</span>
                        break;
                }
            </div>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="מחק" class="btn btn-danger delete" />
            <a asp-action="Index" class="btn btn-secondary">ביטול</a>
        </form>
    </div>
</div>

<style>
    .delete {
        margin-left: 10px;
    }
    .order {
        font-size: 20px;
        font-weight: 500;
    }
</style>
